# **`Statistics Practical`**

In [1]:
import pandas as pd
import numpy as np
from statistics import mode

In [2]:
data=pd.read_csv("https://raw.githubusercontent.com/sunnysavita10/Statistics_With_Python/main/Titanic.csv")

In [3]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
numeric_column=data.columns[data.dtypes!="object"]

## **Descriptive Statistics**

### *Central Tendency of Data*

- `Mean`
- `Median`
- `Mode`

#### Mean

##### Mean of a Single Column

In [5]:
np.mean(data["Fare"])

32.204207968574636

##### Mean of all the numeric columns

In [11]:
for i in numeric_column:
    print(f"Mean of the Column {i}: {np.mean(data[i])}")

Mean of the Column PassengerId: 446.0
Mean of the Column Survived: 0.3838383838383838
Mean of the Column Pclass: 2.308641975308642
Mean of the Column Age: 29.69911764705882
Mean of the Column SibSp: 0.5230078563411896
Mean of the Column Parch: 0.38159371492704824
Mean of the Column Fare: 32.204207968574636

#### Median

##### Median for Single Column

In [12]:
np.median(data["Fare"])

14.4542

##### Median for Multiple Columns

In [13]:
for i in numeric_column:
    print(f"Median of the Column {i}: {np.median(data[i])}")

Median of the Column PassengerId: 446.0
Median of the Column Survived: 0.0
Median of the Column Pclass: 3.0
Median of the Column Age: nan
Median of the Column SibSp: 0.0
Median of the Column Parch: 0.0
Median of the Column Fare: 14.4542

#### Mode

##### Mode for Single Column

In [14]:
mode(data["Fare"])

8.05

In [15]:
mode(data["Sex"])

'male'

##### Mode for Multiple Column

In [18]:
for i in data.columns:
    print(f"Mode of the Column {i}: {mode(data[i])}")

Mode of the Column PassengerId: 1
Mode of the Column Survived: 0
Mode of the Column Pclass: 3
Mode of the Column Name: Braund, Mr. Owen Harris
Mode of the Column Sex: male
Mode of the Column Age: 24.0
Mode of the Column SibSp: 0
Mode of the Column Parch: 0
Mode of the Column Ticket: 347082
Mode of the Column Fare: 8.05
Mode of the Column Cabin: nan
Mode of the Column Embarked: S

### *Dispersion Method of Data*